#aboutBg {
  background-image: url("../img/banner5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  position: relative;
  text-align: center;
  .container {
    .row {
      .col-lg-12 {
        .bg {
          position: absolute;
          left: 39%;
          top: 225px;
          h1 {
            color: white;
            font-family: $secondFont;
            font-size: 60px;
          }
        }
      }
    }
  }
}

#info {
  text-align: center;
  .container {
    .row {
      .col-lg-12 {
        .about {
          font-family: $secondFont;
          padding-top: 100px;
          padding-bottom: 100px;
          h2 {
            font-size: 43px;
          }
          p {
            font-family: $mainFont;
            font-weight: 300;
            max-width: 78%;
            margin: auto;
            font-size: 21px;
            margin-top: 30px;
            line-height: 33px;
            color: #4d4d4d;
          }
        }
        .image {
          position: relative;
          img {
            max-width: 100%;
          }
          a {
            text-decoration: none;
            i {
              position: absolute;
              color: white;
              top: 46%;
              left: 48%;
              font-size: 23px;
              border: 1px solid white;
              border-radius: 50%;
              width: 50px;
              height: 50px;
              line-height: 50px;
              padding-left: 4px;
              transition: all 0.3s ease-in-out;
            }
          }
          &:hover {
            a {
              i {
                transform: scale(1.2);
              }
            }
          }
        }
      }
    }
  }
}

#services {
  background-color: $backgrounColor;
  padding-top: 100px;
  .container {
    .row {
      .col-lg-4 {
        .options {
          text-align: left;
          font-family: $secondFont;
          padding-bottom: 50px;
          img {
          }
          h4 {
            font-size: 25px;
            letter-spacing: 1px;
            margin-top: 15px;
            margin-bottom: 15px;
          }
          p {
            font-family: $mainFont;
            font-weight: 300;
            font-size: 17px;
            color: #4d4d4d;
            line-height: 30px;
          }
        }
      }
    }
  }
}

#thingsToDo {
  padding-bottom: 100px;
  .container {
    .row {
      .col-lg-12 {
        .title {
          text-align: center;
          padding-top: 100px;
          padding-bottom: 100px;
          h2 {
            font-family: $secondFont;
            font-size: 43px;
            margin-bottom: 20px;
          }
          p {
            width: 65%;
            margin: auto;
            font-size: 21px;
            font-weight: 300;
            font-family: $mainFont;
            color: $textColor;
          }
        }
      }
      .col-lg-4 {
        .items {
          position: relative;
          overflow: hidden;
          img {
            max-width: 100%;
            @include withoutHoverEffect;
            &:hover {
              @include withHoverEffect;
            }
          }
          .item {
            position: absolute;
            top: 35%;
            padding: 30px 51px 30px 15px;
            background-color: $lightBackground;
            @include withoutHoverEffect;
            a {
              text-decoration: none;
              color: black;
              h2 {
                font-family: $secondFont;
                font-size: 43px;
              }
            }
            &:hover {
              @include withHoverEffect;
            }
          }
        }
      }
    }
  }
}

#testimonials {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: $backgrounColor;
  .container {
    .row {
      .col-lg-12 {
        .owl-carousel {
          text-align: center;
          position: relative;
          .item {
            color: black !important;
            h2 {
              font-family: $secondFont;
              font-size: 43px;
            }
            p {
              color: $textColor;
              font-size: 21px;
              width: 76%;
              letter-spacing: 0.7px;
              margin-left: auto;
              margin-right: auto;
              margin-top: 30px;
              margin-bottom: 30px;
              line-height: 30px;
              font-weight: 300;
              font-family: $mainFont;
            }
            span {
              color: $navColor;
              font-family: $mainFont;
              font-weight: 300;
            }
          }
          .owl-nav {
            opacity: 0.7;
            .owl-prev {
              position: absolute;
              top: 0;
              left: 40px;
              span {
                font-size: 145px;
                font-weight: 100;
              }
              &:focus {
                outline: 0px auto -webkit-focus-ring-color;
              }
            }
            .owl-next {
              position: absolute;
              top: 0;
              right: 40px;
              span {
                font-size: 145px;
                font-weight: 100;
              }
              &:focus {
                outline: 0px auto -webkit-focus-ring-color;
              }
            }
          }
        }
      }
    }
  }
}

#companies {
  padding-top: 100px;
  padding-bottom: 100px;
  .container {
    .row {
      .col-lg-2 {
        .image {
          img {
            max-width: 100%;
          }
        }
      }
    }
  }
}

.fixedTop {
  position: fixed;
  transition: all 1s linear;
  top: 0;
  z-index: 100;
  width: 100%;
}

@media (max-width: 576px) {
  #aboutBg {
    .container {
      .row {
        .col-lg-12 {
          .bg {
            left: 30% !important;
          }
        }
      }
    }
  }

  #info{
      .container{
          .row{
              .col-lg-12{
                  .image{
                      a{
                          i{
                              top: 40% !important;
                          }
                      }
                  }
              }
          }
      }
  }

  #services{
      .container{
          .row{
              .col-lg-4{
                  .options{
                      text-align: center !important;
                      p{
                        width: 70% !important;
                        margin: auto !important;
                      }
                  }
              }
          }
      }
  }

  #thingsToDo{
      .container{
          .row{
              .col-lg-4{
                  .items{
                      margin-bottom: 30px;
                      img{
                          height: 300px !important;
                          width: 100% !important;
                      }
                      .item{
                        padding: 15px 40px 14px 30px !important;
                        a{
                            h2{
                                font-size: 35px !important;
                            }
                        }
                      }
                  }
              }
          }
      }
  }

  #testimonials{
      .container{
          .row{
              .col-lg-12{
                  .owl-carousel{
                      .item{
                          p{
                            font-size: 17px !important;
                            width: 60% !important;
                          }
                      }
                      .owl-nav{
                          .owl-next{
                              top: 10% !important;
                          }
                          .owl-prev{
                            top: 10% !important;
                          }
                      }
                  }
              }
          }
      }
  }

  #companies{
      .container{
          .row{
              .col-lg-2{
                  .image{
                    text-align: center !important;
                      img{
                          max-width: 100% !important;
                      }
                  }
              }
          }
      }
  }
  
  
}

@media (max-width: 768px) {
    #aboutBg {
        .container {
          .row {
            .col-lg-12 {
              .bg {
                left: 30% !important;
              }
            }
          }
        }
      }
    
      #info{
          .container{
              .row{
                  .col-lg-12{
                      .image{
                          a{
                              i{
                                  top: 40% !important;
                              }
                          }
                      }
                  }
              }
          }
      }
    
      #services{
          .container{
              .row{
                  .col-lg-4{
                      .options{
                          text-align: center !important;
                          p{
                            width: 70% !important;
                            margin: auto !important;
                          }
                      }
                  }
              }
          }
      }
    
      #thingsToDo{
          .container{
              .row{
                  .col-lg-4{
                      .items{
                          margin-bottom: 30px;
                          img{
                              height: 300px !important;
                              width: 100% !important;
                          }
                          .item{
                            padding: 15px 40px 14px 30px !important;
                            a{
                                h2{
                                    font-size: 35px !important;
                                }
                            }
                          }
                      }
                  }
              }
          }
      }
    
      #testimonials{
          .container{
              .row{
                  .col-lg-12{
                      .owl-carousel{
                          .item{
                              p{
                                font-size: 17px !important;
                                width: 60% !important;
                              }
                          }
                          .owl-nav{
                              .owl-next{
                                  top: 10% !important;
                              }
                              .owl-prev{
                                top: 10% !important;
                              }
                          }
                      }
                  }
              }
          }
      }
    
      #companies{
          .container{
              .row{
                  .col-lg-2{
                      .image{
                        text-align: center !important;
                          img{
                              max-width: 100% !important;
                          }
                      }
                  }
              }
          }
      }
}

@media (max-width: 992px) {
    #info{
        .container{
            .row{
                .col-lg-12{
                    .image{
                        a{
                            i{
                                top: 42% !important;
                            }
                        }
                    }
                }
            }
        }
    }

    #thingsToDo{
        .container{
            .row{
                .col-lg-4{
                    .items{
                        margin-bottom: 30px;
                        img{
                            height: 500px !important;
                            width: 100% !important;
                        }
                        .item{
                          padding: 15px 40px 14px 30px !important;
                          a{
                              h2{
                                  font-size: 42px !important;
                              }
                          }
                        }
                    }
                }
            }
        }
    }

    #testimonials{
        .container{
            .row{
                .col-lg-12{
                    .owl-carousel{
                        .item{
                            p{
                              font-size: 17px !important;
                              width: 80% !important;
                            }
                        }
                        .owl-nav{
                            .owl-next{
                                top: 5% !important;
                                right: 0 !important;
                            }
                            .owl-prev{
                              top: 5% !important;
                              left: 0 !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
}
